<html>
        <center>
                <h1> Welcome to ansible Training </h1>
                <h2> This system is running on {{ ansible_os_family }} Family Operating System </h2>
                <h3> System Host name is {{ ansible_hostname }} </h3>
                <h4> Deployed via role </h4>
        </center>
</html>
